.admin-widget{
    cursor: pointer;
}

.pagination-area {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 3px solid #26acce;
    margin: 20px 0;
    overflow: hidden;
    padding: 5px 15px;
}
.pagination {
    margin: 5px 0 0;
}
.pagination ul {}
.pagination ul li {
    display: inline-block;
}
.pagination ul li a {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #e48080;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination ul li.active a, .pagination ul li.active a:hover {
    background-color: #e48080;
    border-color: #e48080;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination ul li a:hover {
    color: #23527c;
    border-color: #ddd;
    background-color: #eee;
    z-index: 3;
}